<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IM24X7 Automation Suite">
    <test name="Regression Tests">

        <classes>
            <class name="tests.LoginTest"></class>
            
            <class name="tests.DashboardTest"></class>

            <class name="tests.CartTest"></class>

            <class name="tests.LogoutTest"></class>

        </classes>
    </test>
</suite>